@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Nunito&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #6c798d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #e5e5e5;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

.section-loop {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2rem auto;
}

.section-loop .pandeiro {
  background-color: #e5e5e5;
  padding: 1rem 1rem 0.5rem 1rem;
}

.section-loop h3 {
  color: #6c798d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.section-loop .btn-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 8rem);
  place-items: center start;
  margin-bottom: 1rem;
}

.section-loop .input {
  height: 3rem;
  width: 3rem;
  background-color: #e5e5e5;
  margin-left: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px rgba(170, 170, 170, 0.52), -1px -1px 8px rgba(51, 51, 51, 0.25);
          box-shadow: 3px 3px 8px rgba(170, 170, 170, 0.52), -1px -1px 8px rgba(51, 51, 51, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-loop .checked {
  background: #a8cbff;
  -webkit-box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.36), -4px -4px 8px rgba(255, 255, 255, 0.36);
          box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.36), -4px -4px 8px rgba(255, 255, 255, 0.36);
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bpm {
  background-color: #e5e5e5;
  margin-top: 1rem;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6c798d;
}

.bpm__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12.5rem;
  height: 0.2rem;
  border-radius: 100px;
  margin: 0 1rem;
  background-color: #6c798d;
}

.bpm__range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 0.9rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #6c798d;
}

.bpm__range::-moz-range-thumb:active {
  background-color: #e5e5e5;
}

.bpm__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.9rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bpm__range::-webkit-slider-thumb:active {
  background-color: #6c798d;
}

.play {
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: 0.25rem solid #e5e5e5;
  border-radius: 50%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.play:hover {
  border: 0.25rem solid #e5e5e5;
  -webkit-box-shadow: 1px 1px 4px #e5e5e5, -1px -1px 8px #e5e5e5;
          box-shadow: 1px 1px 4px #e5e5e5, -1px -1px 8px #e5e5e5;
}

.active {
  border: 0.25rem solid #cce0ff;
  -webkit-box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
          box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
}

.active:hover {
  border: 0.25rem solid #cce0ff;
  -webkit-box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
          box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
}

.symbol-active {
  background-image: url("../img/pause.svg") !important;
  top: 50% !important;
  left: 53% !important;
}

.symbol {
  background-image: url("../img/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */