@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Nunito&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #6c798d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #e5e5e5;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: -1rem;
  }
}

.section-loop {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2rem auto;
}

.section-loop .pandeiro {
  background-color: #e5e5e5;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 10px;
}

.section-loop h3 {
  color: #6c798d;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .section-loop h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .section-loop h3 {
    grid-row: span 2;
  }
}

.section-loop .btn-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 81px (1fr)[8];
      grid-template-columns: 81px repeat(8, 1fr);
  gap: 1rem;
  place-items: center start;
  margin-bottom: 1rem;
  position: relative;
}

.section-loop .btn-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .section-loop .btn-wrapper {
    -ms-grid-columns: 70px (1fr)[8];
        grid-template-columns: 70px repeat(8, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .section-loop .btn-wrapper {
    -ms-grid-columns: 70px (1fr)[4];
        grid-template-columns: 70px repeat(4, 1fr);
  }
  .section-loop .btn-wrapper:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    right: 0;
    left: 0;
    height: 2px;
    background-color: rgba(108, 121, 141, 0.2);
  }
}

.section-loop .input {
  height: 5vw;
  width: 5vw;
  background-color: #e5e5e5;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px rgba(170, 170, 170, 0.52), -1px -1px 8px rgba(51, 51, 51, 0.25);
          box-shadow: 3px 3px 8px rgba(170, 170, 170, 0.52), -1px -1px 8px rgba(51, 51, 51, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 700px) {
  .section-loop .input {
    height: 8vw;
    width: 8vw;
  }
}

.section-loop .checked {
  background: #b48e98;
  -webkit-box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.36), -4px -4px 8px rgba(255, 255, 255, 0.36);
          box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.36), -4px -4px 8px rgba(255, 255, 255, 0.36);
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bpm {
  background-color: #e5e5e5;
  margin-top: 1rem;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6c798d;
}

.bpm__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20vw;
  height: 0.2rem;
  border-radius: 100px;
  margin: 0 1rem;
  background-color: #6c798d;
}

.bpm__range::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 0.9rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #6c798d;
}

.bpm__range::-moz-range-thumb:active {
  background-color: #e5e5e5;
}

.bpm__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.9rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bpm__range::-webkit-slider-thumb:active {
  background-color: #6c798d;
}

.play {
  margin-top: 1rem;
  height: 12vw;
  width: 12vw;
  max-height: 5rem;
  max-width: 5rem;
  background-color: transparent;
  border: 0.25rem solid #e5e5e5;
  border-radius: 50%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.play:hover {
  border: 0.25rem solid #e5e5e5;
  -webkit-box-shadow: 1px 1px 4px #e5e5e5, -1px -1px 8px #e5e5e5;
          box-shadow: 1px 1px 4px #e5e5e5, -1px -1px 8px #e5e5e5;
}

.active {
  border: 0.25rem solid #cce0ff;
  -webkit-box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
          box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
}

.active:hover {
  border: 0.25rem solid #cce0ff;
  -webkit-box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
          box-shadow: 1px 1px 4px #cce0ff, -1px -1px 8px #cce0ff;
}

.symbol-active {
  background-image: url("../img/pause.svg") !important;
  top: 50% !important;
  left: 53% !important;
  background-size: contain;
}

.symbol {
  background-image: url("../img/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 9vw;
  width: 9vw;
  max-height: 1.5rem;
  max-width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */